*
!**\.gitattributes
!**\.gitignore
!**\.md

!/\.editorconfig
!/\.travis\.yml
!/config\.nims
!/input
!/LICENSE
!/scripts/
!/test00
!/test01
!/tests/

!/adventOfCode2019_05/
!/adventOfCode2019_05\.nim
!/adventOfCode2019_05\.nimble
